<span>User: {{userRole}} {{userId}}</span>
<form method='get' action="/logout">
    <button type="submit">Log out</button>
</form><hr>
<div class="dbTable">
    <table>
          <tr>
            <td><b>ISBN</b></td>
            <td><b>Title</b></td>
            <td><b>Year</b></td>
            <td><b>Category</b></td>
            <td><b>Price($)</b></td>
          </tr>
          {{#each books}}
            <tr>
              <td>{{isbn}}</td>
              <td>{{title}}</td>
              <td>{{year}}</td>
              <td>{{category}}</td>
              <td>{{price_dollars}}</td>
              <td><button>Edit</button></td>
              <td>
                <form method="POST" action="/delete/book">
                  <input type="hidden" name="code" value="{{isbn}}">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="7"><button>Add</button></td>
          </tr>
    </table>
</div>
<div class="dbTable">
    <table>
          <tr>
            <td><b>Name</b></td>
            <td><b>Address</b></td>
            <td><b>Url</b></td>
          </tr>
          {{#each authors}}
            <tr>
              <td>{{name}}</td>
              <td>{{address}}</td>
              <td><a href="https://{{url}}">Wikipedia.org</a></td>
              <td><button>Edit</button></td>
              <td>
                <form method="POST" action="/delete/author">
                  <input type="hidden" name="code" value="{{name}}">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="5"><button>Add</button></td>
          </tr>
    </table>
</div>
<div class="dbTable">
    <table>
          <tr>
            <td><b>Id</b></td>
            <td><b>Name</b></td>
            <td><b>Year</b></td>
          </tr>
          {{#each awards}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{year}}</td>
              <td><button>Edit</button></td>
              <td>
                <form method="POST" action="/delete/award">
                  <input type="hidden" name="code" value="{{id}}">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="5"><button>Add</button></td>
          </tr>
    </table>
</div>
<div class="dbTable">
    <table>
          <tr>
            <td><b>Code</b></td>
            <td><b>Phone</b></td>
            <td><b>Address</b></td>
          </tr>
          {{#each warehouses}}
            <tr>
              <td>{{code}}</td>
              <td>{{phone}}</td>
              <td>{{address}}</td>
              <td><button>Edit</button></td>
              <td>
                <form method="POST" action="/delete/warehouse">
                  <input type="hidden" name="code" value="{{code}}">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="5"><button>Add</button></td>
          </tr>
    </table>
</div>
<div class="dbTable">
    <table>
          <tr>
            <td><b>Book ISBN</b></td>
            <td><b>Warehouse Code</b></td>
            <td><b>Number of copies</b></td>
          </tr>
          {{#each inventory}}
            <tr>
              <td>{{book_isbn}}</td>
              <td>{{warehouse_code}}</td>
              <td>{{number}}</td>
              <td><button>Edit</button></td>
              <td>
                <form method="POST" action="/delete/inventory">
                  <input type="hidden" name="code" value="{{book_isbn}}">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="5"><button>Add</button></td>
          </tr>
    </table>
</div>
<div class="dbTable">
    <table>
          <tr>
            <td><b>Book ISBN</b></td>
            <td><b>Shopping basket Id</b></td>
            <td><b>Number</b></td>
          </tr>
          {{#each contains}}
            <tr>
              <td>{{book_isbn}}</td>
              <td>{{shopping_basket_basket_id}}</td>
              <td>{{number}}</td>
              <td><button>Edit</button></td>
              <td><form method="POST" action="/delete/contains">
                  <input type="hidden" name="code" value="{{book_isbn}}">
                  <button type="submit">Delete</button>
                </form></td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="5"><button>Add</button></td>
          </tr>
    </table>
</div>
<div class="dbTable"></div>
<div class="dbTable"></div>
<div class="dbTable"></div>
<div class="dbTable"></div>
<div class="dbTable"></div>

